h1 {
    font-family: cambria;
    font-weight: normal;
}

header {
    width: 20%;
    height: 100px;
    background-color: red;
    float: left;
}

nav {
    width: 80%;
    height: 100px;
    float: left;
    font-variant-caps: all-small-caps;
    font-size: 20px;
    background-color: green;
   
}

nav ul li {
    display: inline;
    padding-left: 20px;
}

section { 
    background-color: blue;
}

footer {
    background-color: yellow;
}    
div#primera { float: left; width: 30%; margin-right: 10px }
div#segona { float: left; width: 30%; margin-right: 10px }
div#tercera { float: left; width: 30%;}
